<article>
      <section class="descripcion">

          <div class="contenedor-imagen">
              <img src="../../assets/img/LOGO.png" alt="Mi viandita" class="logo">
          </div>

          <p class="informacion">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Accusamus, nam possimus dicta cumque quas eos quos nulla 
             est ducimus nihil! Nulla animi nihil perspiciatis laudantium
              expedita voluptates nisi libero suscipit.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Perferendis voluptatem odio tenetur enim facere soluta
                natus sed, quas modi corrupti magnam, delectus eligendi
                 mollitia ipsum. Accusamus consequatur voluptates expedita odio.
          </p>

      </section>
  
  </article>