body {
    background-image: url(../Images/fondo_viandas.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.comida {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.fotocomida{
    margin: 50px;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 100px;
    border: 3px solid rgb(72, 145, 0);
    transition: all 500ms ease;
}

.plato{
    display: flex;
    flex-direction: column;
}

.precio{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    margin: 10px;
    color: white;
    font-size: 90px;
    border-radius: 100px;
    border: 3px solid #d1852e;
    transition: all 500ms ease;
    
}