.cartTable{
    display: flex;
    flex-direction: row;

}


.containerCart{
    background-color: white;
    width: 70%;
    margin: 0 46px 0px 0;
    text-align: center;
    height: fit-content;
    
}

