body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    color: blueviolet;
    background-color: tomato;
    background-color: yellowgreen;
    font-style: oblique;
}

p, ul {
    color: brown;
    background-color: lightgreen;
}

ul {
    color: cornflowerblue;
}
