h3{
    margin: 0;
    padding: 3% 0%;
    background-color: bisque;
}

table{
    width: 100%;
    margin-top: 3%;
}

thead{
    font-size: 18px;
}

th{
    padding-bottom: 11px;
}

td{
    width: 20%;
    padding-bottom: 4px;
}

tr{
    margin-top: 15%;
}

span{
    background: #0ab30aab;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

button{
    background-image: url('../../assets/img/eliminar.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-size: 20px 20px;
    background-position: center;
}

button:hover{
    cursor: pointer;
}

h4{
    margin-bottom: 20%;
    font-weight: 100;
    margin-top: 20%;
    font-weight: 100;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.total{
    margin-left: 23px;
}