<article>

    <section class="contacto">

        <ul>
            <li> <img src="../../assets/img/whatsapp.png" alt="whatsapp Mi Vianadita!" class="iconWhatsapp"> <p href="#" class="textoRedes"> 2494-00000</p> </li>
            <li> <img src="../../assets/img/facebook.png" alt="facebook Mi Vianadita!" class="iconFacebook"> <p href="#" class="textoRedes" id="facebook">Mi Viandita</p> </li>
            <li> <img src="../../assets/img/instagram.png" alt="instagram Mi Vianadita!" class="iconInstagram"> <p href="#" class="textoRedes">@miviandita</p> </li>
        </ul>

    </section>

</article>
